<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">    
    <title>Works</title>
</head>
<body>

    <nav class="nav-flex">
        <div class="nav-flex_container">
            <img id="chuck-logo" src="images/chuck_logo.png" alt="chuck logo">
        </div>
        <div id="nav-links">
            <a href="/home">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/works">WORKS</a>
            <a href="/gallery">GALLERY</a>
        </div>

    </nav>
    <section class=" works-main-section works-bck-img">
        <h1 class="title animate glow delay-1">THE MOST BADASS MAN IN THE WORLD LIST OF JOBS</h1>
        <img id="works-img" class="animate glow delay-2" src="images/works_chuck.png" alt="chuck norris">
    </section>


    
    
    
 <section class="works-bottom">
    <h1 class="title works-list-title">CHOOSE CAREFULLY</h1>
    <section id="works-section" class="works-flex">
        <div class="movie-1">
            <img class="movie-1-img" src="images/ranger_texas.png" alt="Texas Ranger">
            <div class="middle">
                <div class="middle-text">Walkers, Texas Ranger</div>
            </div>
        </div>

        <div class="movie-1">
            <img class="movie-1-img" src="images/expendables_2.png" alt="Texas Ranger">
            <div class="middle">
                <div class="middle-text">Expendables 2</div>
            </div>
        </div>

        <div class="movie-1">
            <img class="movie-1-img" src="images/invasion_usa.png" alt="Texas Ranger">
            <div class="middle">
                <div class="middle-text">Invasion U.S.A.</div>
            </div>
        </div>

 </section>
    

        
    </section>
    
</body>
</html>